

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
 }
 
 html{
  scroll-behavior:smooth;
  }
  
 .cover-bg{
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat; 
 }
 
 .mt-20{
   margin-top:20px;
 }
 
 .mb-20{
   margin-bottom:20px;
 }
  
 .mb-30 {
  margin-bottom:30px;
 }
  
 .pb-35{
   padding-bottom: 35px;
  }
 
 .mt-35 {
  margin-top:35px;
 } 
 
 .mt-30{
   margin-top:30px;
  }
  
  .py-15 {
   padding-top:15px;
   padding-bottom:15px;
   }
   
  .pb-100 {
    padding-bottom:100px;
   }
   
 .section_padding {
   padding:100px 0;
 }
  
 
 h1,h2,h3,h4{
   font-family:'lato',sans-serif;
  /** color:#151515;**/
   font-weight:700; 
 }
  
 p{
  line-height:1.6;
  color:#777;
  }
    
 span,a{
  display:inline-block;
 }
 
  
  /**navbar css**/
  .navbar-dark .navbar-nav .nav-link {
  color:#fff;
  font-weight:700;
  text-transform:uppercase; 
  letter-spacing:1px;
  font-size:14px;
  transition:0.5s all;
    }
    
 .navbar-dark .navbar-nav .nav-link.active{
   color:#1957f3 !important;
  }
  
 .navbar-dark .navbar-nav .nav-link:hover{
   color:#1957f3;
  }
    
 .navbar {
 padding:15px 0;
 background:transparent;
  }
  
 .nav-scroll{
  background:#fff;
  box-shadow:0 1px 8px 3px rgba(0,0,0,0.05);
  transition:0.5s all;
 }
 
 .nav-scroll .navbar-nav li a{
  color:#333 !important;
 }
 
 .navbar .navbar-toggler span{
  color:#fff;
 }
  
 .navbar .navbar-toggler{
  border:none;
 }
 
 .navbar .navbar-toggler:focus,
 .navbar .navbar-toggler:active{
  outline:none;
  box-shadow:none;
 }
 
 .navbar .logo .custom_logo{
    background:#FAAFBE;
    color:#000;
    text-align:center;
    text-transform:uppercase;
    padding:0 25px;
    letter-spacing:1px;
    line-height:2;
    transform:skewX(30deg);
  }
  
 .navbar .logo .custom_logo span{
     transform:skewX(-30deg);
  } 
  
  .nav-scroll {
  background:#fff;
  box-shadow:0 1px 8px 3px rgba(0,0,0,0.05);
  transition:0.5s all;
  }
  
  .nav-scroll .navbar-nav li a{
  color:#333 !important;
   } 
   
 
   
   /* .header {
        padding: 1rem;
     a {
       color: rgb(46, 46, 46);
       letter-spacing: 2px;
       font-size: 1.2rem;
   
       &:hover {
         color: #000;
       }
     }
   
     button {
       border: none;
       font-size: 1.2rem;
       cursor: pointer;
       background-color: transparent;
       &:hover {
         color:  #000;
       }
     }
   
     dialog {
       border: 1px solid #ccc;
       border-radius: 5px;
       padding: 10px;
       width: 100px;
       position: absolute;
       left: calc(100% - 100px);
       top: 8%;
    
     }
   } */
 
   .SignInLogo,.SignOutLogo{
   color:#fff
 }
 
 
  /**section  title css*/
  .section_title {
   position:relative;
   margin-bottom:70px;
   width:100%;
   }
   
  .section_title p {
    background-color:#000;/**#1957f3;**/
    color:#fff;
    display:inline-block;
    margin-bottom:5px;
    text-align:center;
    text-transform:uppercase;
    padding:0 12px;
    letter-spacing:1px;
 }
 
 .section_title h3 {
  position:relative;
  font-size:36px;
  text-transform:capitalize;
  line-height:1.14;
  letter-spacing:1.4px;
  padding-bottom:13px;
  color:#fff;
 }
 
 /* .section_title h3:after {
  content:'';
  position:absolute;
  display:block;
  width:2px;
  height:30px;
  bottom:-30px;
  left:50%;
  background-color:#000;
  transform:translate(-50%,0);
 } */
  
  .banner{
  /* background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/bkgrnd.jpg); */
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./assets/images/bkgrnd.jpg);
  background-attachment:fixed;
  height:100vh;
  width:100%;
  }
   
  .banner .caption h4{
  color:#fff;
  font-size:20px; 
  font-weight:400;
  }
   
  .banner .caption h2{
  color:#fff;
  font-size:70px;
  letter-spacing:-1px;
  }
  
  .banner .caption p{
  color:#fff;
  font-size:17px;
  line-height:32px;
  opacity:0.7;
  }
  
  .banner .caption .social_icon a{
   color:#fff;
   height:40px;
   width:40px;
   line-height:40px;
   border-radius:50%;
   text-shadow:1px 1px 2px rgba(0,0,0,0.5);
   font-size:16px;
   transition:0.5s all;
   }
   
  .social_icon a
  {
  margin-top:150px;
  }
  
  .banner .caption .social_icon a:hover{
  color:#1957f3;
  }
  
  .button
  {
  position:absolute;
  top:60%;
  left:50%;
  transform:translate(-50%,-50%);
  }
  
  .btn
  {
  text-decoration:none; 
  color:#fff;
  padding:10px 30px;
  border:1px solid #fff;
  transition:0.6s ease;
  }
  
  .btn:hover
  {
   color:#000;
   background-color:#fff;
   box-shadow:inset 12em 0 0 0 #fff;
  }
 
  .btns
  {
  background-color:#000;
  text-decoration:none; 
  color:#fff;
  padding:10px 30px;
  border:1px solid #000;
  transition:0.6s ease;
  }
  
  .btns:hover
  {
   box-shadow:inset 12em 0 0 0 #fff;
   text-decoration:none; 
   color:#000;
   background-color:#fff;
  }
  
  /** about section css **/
 .about .part_text h4{
   font-size:24px;
  }
  
 .about .part_text p{
   border-bottom: 1px solid #f1f1f1;
   color:#000;
  }
  
 .about .part_text .info li{
   width:48%;
   display:inline-block;
   margin-bottom:15px;
  }
  
 
  
  /**showContact section css**/
  .showContact {
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./assets/images/showcontact_img.jpg);
    background-attachment:fixed;
    height:50vh;
    width:100%;
   }
  
  .showContact h2{
  color:#fff;
   } 
   
  /**package section css**/
  .package .package_box{
    border:1px solid #fafafa;
    transition:all 0.5s;
    }
 
 .package .package_box:hover{
    box-shadow:-1px 3px 10px 0 rgba(0,0,0,0.06);
    }
       
  .package .box {
    position:relative;
    padding:50px;
   }
   
   .package .package_box icon i{
    color:#000;
    }
    
    .package .package_box p{
    color:#000;
    }
    
   .package .box_title{
    position:relative;
    margin-top:10px;
    padding-bottom:8px;
    font-size:16px;
    overflow:hidden;
    }
   
   .package .box_title:before{
   content:'';
   display:inline-block;
   width:15%;
   height:2px;
   position:absolute;
   bottom:0;
   left:0;
   background-color:rgba(91,52,255,0.2);
   }
    
   .package_box:after{
   content:'';
   width:0px;
   height:0px;
   border-left:50px solid transparent;
   border-top:50px solid transparent;
   border-bottom:50px solid #ccc;
   position:absolute;
   bottom:4px;
   right:4px;
   }
    
    
  /**Contact Section css**/
  .contact
  {
   background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./assets/images/contact.jpeg);
   background-attachment:fixed;
  }
   
  .contact .section_title h3 {
    color:#fff;
  }
    
 .contact .part_info {
    background:linear-gradient(to right,transparent,rgba(200,200,200,0.1),transparent);
    padding:30px;
    margin-bottom:50px;
  }
  
 .contact .info-block{
  border-right:1px solid #fff;
  }
     
  .contact .part_info .info-block .icon {
   margin-bottom:15px;
  }
  
  .contact .part_info .info-block .icon i {
   display:inline-block;
   color:#fff;
   font-size:38px;
  }
  
  .contact .part_info .info-block h5,p{
   color:rgb(214, 196, 196);
   font-size:15px; 
   margin-bottom:10px;
   }
   
  .contact .part_info .info-block p{
   color:#fff;
   opacity:0.9;
   }
   
  .contact .part_info .col-md-4:last-child .info-block{
     border-right:0;
    }
    
 .contact .contact-form {
  background:linear-gradient(to right,transparent,rgba(200,200,200,0.1),transparent);
  padding:30px;
  }
  
  .contact .contact-form input,
  .contact .contact-form textarea{
    color:#fff;
    background:transparent;
    padding:10px 15px;
    border-radius:0;
    width:100%;
    border:1px solid rgba(0,0,0,0.28);
    margin-bottom:15px;
    font-size:12px;
    transition:0.3s all;
   }
   
  .contact .contact-form input::placeholder,
  .contact .contact-form textarea::placeholder{
    color:#fff;
  }
  
  .contact .contact-form input:focus,
  .contact .contact-form textarea:focus{
    border:1px solid #fff;
    outline:none;
    box-shadow:none;
  }
  
  .contact .contact-form textarea{
     height:120px;
  }
    
   /**foooter section css**/
  .footer{
     background:#212121;
     padding:80px 0;
  }
    
  .footer .logo{
      width:100%;
      margin-bottom:30px;
  }
     
 .footer .logo .custom_logo{
    background:#FAAFBE;
    color:#000;
    text-align:center;
    text-transform:uppercase;
    padding:0 25px;
    letter-spacing:1px;
    line-height:2;
    transform:skewX(30deg);
  }
  
 .footer .logo .custom_logo span{
     transform:skewX(-30deg);
  }
  
 .footer .social_icon{
   margin:0 auto;
   width:100%;
   }
   
  .footer .social_icon a{
    display:inline-block;
    width:40px;
    height:40px;
    margin:0;
    padding:0;
    line-height:40px;
    border-radius:50%;
    margin-right:10px;
    background:#252525;
    color:#fff;
    transition:0.5s all; 
   }
   
  .footer .social_icon a i{
     
    font-size:14px;
   }
   .footer .social_icon a:hover{
    color:#000;
    background:#fff;
    }
    
  .footer .copy{
    width:100%;
    padding-top:30px;
  }
  .footer .copy h6{
   color:#999;
 /*   alignment-adjust */
   font-size:14px;
   font-weight:400;
   letter-spacing:2px;
  }
 
  /*login css*/
  
  .login{
   background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./assets/images/bkgrnd.jpg);
   background-position:fixed;
   height:100vh;
   width:100%;
   background-size:cover;
   background-position:center;
  }
  .login  .form-container{
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   width:380px;
   padding:50px 30px;
   border-radius:10px;
   box-shadow:7px 7px 60px #000;
  }
  .login h1
  {
   color:#fff;
   font-size:2em;
   text-transform:uppercase; 
   text-align:center;
   margin-bottom:1em 0;
  }
  .login .control input
  {
   padding:5px;
   font-size:16px;
   display:block;
   width:100%;
   color:#222;
   background:#ddd;
   outline:none;
   border:none;
   margin:1em 0;
  }
  .login .control .buttons{
   color:#fff;
   background:crimson;
   opacity:.7;
   transition:opacity .3s ease;
  }
  .login .buttons:hover 
  {
   opacity:1;
  }
  .login .link p
  {
   text-align:center; 
  }
  .login label{
   color:#fff;
  }
  .login .link a
  {
   text-decoration:none; 
   color:#fff;
   opacity:.7;
  }
 .login .link a:hover
 {
  opacity:1;
 }
  
 .login .section_title{
  margin-bottom : 0 !important
 }
 
  /*signup form css*/
  
  .signup .search
  {
   background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./images/bkgrnd.jpg);
   background-attachment:fixed;
  }
  .contact .signup-form {
  background:linear-gradient(to right,transparent,rgba(200,200,200,0.1),transparent);
  padding:30px;
  }
  
  .contact .signup-form input,
  .contact .signup-form textarea{
    color:#fff;
    background:transparent;
    padding:10px 15px;
    border-radius:0;
    width:100%;
    border:1px solid rgba(0,0,0,0.28);
    margin-bottom:15px;
    font-size:12px;
    transition:0.3s all;
   }
   
  .contact .signup-form input::placeholder,
  .contact .signup-form textarea::placeholder{
    color:#fff;
  }
  
  .contact .signup-form input:focus,
  .contact .signup-form textarea:focus{
    border:1px solid #fff;
    outline:none;
    box-shadow:none;
  }
  
  .contact .signup-form textarea{
   height:120px;
  }
 
 .contact .signup-form .gender-details{
   /*display:none;*/
   width:30px;
  } 
   
  .contact .signup-form .gender-row{
    margin-left:15px;
  }

 .signup-form .gender-title
 {
  color:#fff;
  font-size:14px;
 }
 
 .signup-form  .gender-label{
  color:#fff;
  font-size:14px;
  position:relative;
  }
  
 .signup-form .select-box {
    width:100%;
    position:relative;
  }
  
  .signup-form .select-box select{
    height:42px;
    padding:10px 15px;
    line-height:18px;
    font-size:16px;
    width:100%;
    margin-bottom:15px;
    border:1px solid #ccc; 
    border-radius:8px;
    -webkit-appearance:none;
    appearance:none;
   }
   
  .signup-form .select-box:after{ 
  content:"";
  position:absolute;
  right:20px;
  top:50%;
  margin-top:-4px;
  border-top:8px solid #ccc;
  border-left:6px solid transparent;
  border-right:6px solid transparent;
  pointer-events:none;
 }
 
 .signup-form .select-box select:focus{
   border:1px solid #000;  
 }
 .search{
 height:100vh;
  }
  
  .personal .part_info .info-block{
   border:none;
  }
 
  /*member profile css*/
  .profile-about-img{
   flex:0 0 60%;
   padding:0 15px;
  }
 
  
 
  .profile-about-info{
   /*background-color:rgb(85, 83, 83);*/
   flex:0 0 40%;
   padding:0 15px;
 }
  .profile-about-info p{
   color: #000;
   font-size:16px;
   line-height:26px;
   margin-bottom:15px;
   color:var(--text-black-600);
  }
 
  .profile-about-img .social_icon_tab{
    margin-left: 150px;
  }
 
  .profile-about-img .social_icon a{
   display:inline-block;
   width:40px;
   height:40px;
   line-height:40px;
   border-radius:50%;
   margin-right:10px;
   background:#252525;
   color:#fff;
   transition:0.5s all; 
  }
  
 .profile-about-img .social_icon a i{
   padding-left: 12px;
   font-size:14px;
  }
  .profile-about-img .social_icon a:hover{
   color:#000;
   background:#fff;
   }
 
   
 .profile-details-tabs {
   
   max-width: 100%;
   flex:0 0 100%;
   padding: 60px 15px 25px;
   text-align:center;
 }
   
 .tab-items{
   display:inline-block;
   margin:0 115px 10px;
   cursor:pointer;
   padding:5px 10px;
   border-radius: 30px;
   transition: all 0.3s ease;
   font-size: 20px;
   color:var(--text-black-600);
   font-weight: 500;
   text-transform: capitalize;
 }
 
 .tab-items:hover{
   opacity:0.6;
 }
 
 .tab-items.active{
   color:var(--skin-color);
 }
 
 .tab-content{
   flex:0 0 100%;
   max-width:100%;
   display: none;
 }
 
 .tab-content.active{
   display: block;
 }

 .text-medium{
  color:#dadac5
 }

 .text-link{
  color: inherit;
  text-decoration: inherit;
  color:#1957f3;
 }

 .errorMsg{
  color: #f30505;
 }

 .rounded-image-container {
  align-items: center;
  width: 225px; 
  height: 225px;
  overflow: hidden; 
  border-radius: 50%; 
  margin: 20px auto; 
}

.rounded-image {
  width: 100%;
  height: 100%;
  display: block; 
  /* background-image:url(./assets/images/icon_m.jpg);; */
}

.card-subbackground{
  background-color: #f8f9fa;
}

.header {
  height: 60px; /* Adjust the height as needed */
  background-color: #333; /* Example background color */
  color: #fff; /* Example text color */
}

.footer {
  height: 60px; /* Adjust the height as needed */
  background-color: #333; /* Example background color */
  color: #fff; /* Example text color */
}

.content {
  min-height: calc(100vh - 120px); /* Adjust the height considering header and footer heights */
  padding: 20px; /* Example padding */
}

.remove-link {
  text-decoration : none;
}

.stylish-textbox {
  border: 2px solid #17a2b8;
  border-radius: 8px;
  padding: 10px;
  color: #495057;
  background-color: #f8f9fa;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.stylish-textbox:focus {
  border-color: #0a768f;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(38, 143, 255, 0.25);
}
 /*  
 .contact .signup-form .gender-details{
   position: absolute;
   opacity: 0;
   cursor: pointer;
 }
 
 .checkmark {
   position: absolute;
   top: 7px;
   left: 0;
   height: 12px;
   width: 12px;
   background-color: #eee;
   border-radius: 50%;
 }
 
  .checkmark:hover {
   background-color: #ccc;
 }
 .contact .signup-form input:checked ~ .checkmark {
   background-color: #2196F3;
 } */
 
 /* 
 .signup-form .gender-label::before{
  content:'';
  border:2px solid #fff;
  display:inline-block;
  width:10px;
  height:10px;
  border-radius:50%;
  margin-right:10px;
  }
  
 .signup-form .gender-label::after{
  content:'';
  display:inline-block;
  position:absolute;
  width:4px;
  height:4px;
  background:rgba(34, 34, 34,0);
  border-radius:50%;
  left:3px;
  top:10px;
  opacity:0; 
  transition: all 0.4s;
 }
 
 input[type="radio"]:checked + label::after{
   background:rgba(34, 34, 34,1);
 }
    */
  
  
  /*search result *
  
  .full-screen
  {
   background-color:red;
  
   float:left;
   } 
   
  .search-result-text .search-result-img {
    flex:0 0 50%;
    max-width:50%;
    padding:0 15px;
   }
   
   .search-result-text {
    background-color:violet;
    
    }
   /*  
   .search-result-img {
     background-color:blue;
     margin-left:40%;
     background-image: url(./images/contact_img.jpg);
     height:50vh;
     background-repeat:no-repeat;
     border-radius:50%;
     width:50%;
     } 
     .search-result-img img{
      width:100%
     }*/
 
     /*search result css*/
     .part_text li{
       list-style: none;
      }

      .modal-close { 
        position: absolute;
        top: 0;
        right: 0;
        padding: 3px;
        background: none;
        border: none;
        cursor: pointer;
        margin-right: 29px;
      }

      .modal-overlay {
        background-color: rgba(0, 0, 0, 0.5);
      }
      
      .modal-summary {
        width: 50%;
        height: 75%;
        top: 50%;
        left: 28%;
        background-color: #ffffff;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        border: 1px solid #ccc;
      }
      .payment-success-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f0f0f0;
      }
      
      .payment-success-card {
        max-width: 400px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        overflow: hidden;
      }
      
      .payment-success-header {
        background-color: #5cdb95;
        color: #fff;
        padding: 20px;
      }
      
      .payment-success-title {
        font-size: 24px;
        margin: 0;
      }
      
      .payment-success-content {
        padding: 20px;
      }
      
      .payment-success-content p {
        margin-bottom: 10px;
      }
      
      

      
      
      /* Admin css */
      /* @import url('https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&display=swap'); */

      :root{
          --dark:#2b2d42;
          --light:#adb5bd;
          --border:#dee2e6;
          --border-btn:#edf2f4;
      }
      
      *{
          padding:0;
          margin:0;
          box-sizing:border-box;
      }
      
     
      .container{
          max-width:1024px;
          margin:auto;
      }
      
      .nav-brand{
          font-size:1.5em;
          font-weight:bold;
      }
      
      .d-flex{
          display:flex;
          flex-wrap:wrap;
      }
      
      .justify-between{
          justify-content:space-between;
      }
      
      .text-center{
          text-align:center;
      }
      
      .border-shadow{
          border:1px solid var(--border-btn);
          box-shadow:1px 3px 10px #e9ecef;
      }
      
      .text-dark{
          color:var(--dark);
      }
      
      .inline{
          display:inline-block;
      }
      
      .text-light{
          color:var(--light);
      }
      
      .text-gradient{
          background:linear-gradient(to right,#8e2de2, #4a00e0);
          -webkit-background-clip:text;
          background-clip:text;
          -webkit-text-fill-color:transparent;
      }
      
      #header nav{
          background-color:rgba(168, 122, 32, 1);
          padding:1em 0;
          width:100%;
      }
      
      #site-main{
          margin-top:6em;
          font-family:'Barlow',sans-serif;
      }
      
      #site-main .container .box-nav > a{
          font-size:1em;
          padding:.5em 1em;
      }
      
      #site-main .container form{
          margin:2em 0;
      }
      
      .table{
          border-spacing:0px;
          width:100%;
      }
      
      .table td, .table th{
          padding:.75em;
          vertical-align:top;
          text-align:center;
          border-top:1px solid var(--border);
      }
      
      .table td > .action-btn{
          padding:.3em 1em;
          font-size:1.1em;
          margin:0.2em;
      }
      
      .table tr:hover{
          background-color: rgba(168, 122, 32, 1);
      }
      
      .table tr:hover td > a{
          box-shadow:none;
      }
      
      .table .thead-dark th{
          color:#fff;
          background-color:var(--dark);
          border-color:#32383e;
      }
      .add-button-container {
        text-align: left;
        margin-bottom: 20px; 
    }

      @media only screen and(max-width:1024px){
          table,thead,tbody,th,tr,td{
              display:block;
          }
          thead tr{
              position:absolute;
              top:-9999px;
              left:-9999px;
          }
          tr{
              border:1px solid var(--border);
          }
      
          td{
              border:none;
              border-bottom:1px solid var(--border);
              position:relative;
          }
      }
      
      /* addUser  & updateUser Template*/
      
      .form-title{
          margin-top:2em;
      }
      
      .form-title > h2{
          padding:.5em 0;
      }
      
      .new_user{
          max-width:786px;
          margin:auto;
      }
      
      #update_user .form-group,
      #add_user .form-group {
          margin:.4em 0;
      }
      
      #update_user .form-group input[type="text"],
      #add_user .form-group input[type="text"]{
          width:100%;
          padding:.6em 1em;
          margin:.5em 0;
          border:1px solid var(--border);
          font-family: 'Barlow', sans-serif;
          font-size:1em;
          border-radius:.2em;
      }
      
      #update_user .form-group .radio,
      #add_user .form-group .radio{
          margin:1em 2em;
      }
      
      .radio input[type="radio"]{
          position:absolute;
          opacity:0;
      }
      
      .radio input[type="radio"]+.radio-label:before{
          content:'';
          background:var(--border-btn);
          border-radius:100%;
          border:3px solid var(--border);
          display:inline-block;
          width:1em;
          height:1em;
          position:relative;
          top:-0em;
          margin-right:.5em;
          vertical-align: top;
          cursor:pointer;
          text-align:center;
          -webkit-transition:all 250ms ease;
          transition:all 250ms ease;
      }
      
      .radio input[type='radio']:checked+ .radio-label:before{
          background-color:rgba(168, 122, 32, 1);
          box-shadow:insert 0 0 0 4px #e9ecef;
      }
      
      .radio input[type='radio'].focus+.radio-label:before{
          outline:none;
          border-color:#16db93
      }
      
      .radio input[type='radio']:disabled+.radio-label:before{
          border: color #b4b4b4;;
          box-shadow:insert 0 0 0 4px #e9ecef;
          background:#b4b4b4;
      }
      
      #update_user .form-group .btn,
      #add_user .form-group .btn{
          width:100%;
          padding:.9em 1em;
          background-color:rgba(168, 122, 32, 1);
          border:none;
          font-family:'PT Sans', sans-serif;
          font-size:1em;
          cursor:pointer;
          border-radius:.2em;
          margin:.5em 0;
      }
      
      #update_user .form-group .btn:hover,
      #add_user .form-group .btn:hover{
          background-color: var(--dark);
          color:var(--border);
      }
      
      
      
 @media only screen and (max-width:991px){
 
   .navbar .container{
     max-width:100%;
   }
   
   .navbar .custom_logo{
     margin-left:20px;
     padding: 0 10px;
     font-size:16px;    
    }
    
    .nav-scroll .navbar-toggler span{
      color:#333;
     }
   
    .navbar .navbar-collapse {
      overflow:hidden;
      background:#111;
      color:#fff !important;
      text-align:center;
      padding:10px 0;
      margin:10px 0;
     } 
     .nav-scroll .navbar-collapse {
       background-color:#fff !important;
      }
  }  
  
 
  
  @media only screen and (max-width:767px){
    .banner .caption h4{
     font-size:16px;
     }
     
     .banner .caption h2{
     font-size:35px;
     }
     
     .showContact h2{
       font-size:30px;
     }
     .about .part_text .info li{
        width:100%;
     }      
     .part_text{
       padding-bottom:100px;
     }
     .contact .part_info .info-block{
      border:none;
     }
     .xs-md-30 {
       margin-bottom:30px;
     }
     .search{
     height:100%;
     }
  }

        
  @media screen and (max-width: 600px) {
    .payment-success-title {
      font-size: 1.5rem;
    }
  
    .payment-success-content {
      max-width: 90%;
    }
  }