

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
 }
 
 html{
  scroll-behavior:smooth;
  }
  
 .cover-bg{
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat; 
 }
 
 .mt-20{
   margin-top:20px;
 }
 
 .mb-20{
   margin-bottom:20px;
 }
  
 .mb-30 {
  margin-bottom:30px;
 }
  
 .pb-35{
   padding-bottom: 35px;
  }
 
 .mt-35 {
  margin-top:35px;
 } 
 
 .mt-30{
   margin-top:30px;
  }
  
  .py-15 {
   padding-top:15px;
   padding-bottom:15px;
   }
   
  .pb-100 {
    padding-bottom:100px;
   }
   
 .section_padding {
   padding:100px 0;
 }
  
 
 h1,h2,h3,h4{
   font-family:'lato',sans-serif;
  /** color:#151515;**/
   font-weight:700; 
 }
  
 p{
  line-height:1.6;
  color:#777;
  }
    
 span,a{
  display:inline-block;
 }
 
  
  /**navbar css**/
  .navbar-dark .navbar-nav .nav-link {
  color:#fff;
  font-weight:700;
  text-transform:uppercase; 
  letter-spacing:1px;
  font-size:14px;
  transition:0.5s all;
    }
    
 .navbar-dark .navbar-nav .nav-link.active{
   color:#dba514 !important;
  }
  
 .navbar-dark .navbar-nav .nav-link:hover{
   color:#dba514;
  }
    
 .navbar {
 padding:15px 0;
 background:transparent;
  }
  
 .nav-scroll{
  background:#fff;
  box-shadow:0 1px 8px 3px rgba(0,0,0,0.05);
  transition:0.5s all;
 }
 
 .nav-scroll .navbar-nav li a{
  color:#333 !important;
 }
 
 .navbar .navbar-toggler span{
  color:#fff;
 }
  
 .navbar .navbar-toggler{
  border:none;
 }
 
 .navbar .navbar-toggler:focus,
 .navbar .navbar-toggler:active{
  outline:none;
  box-shadow:none;
 }
 
 .navbar .logo .custom_logo{
    background:#FAAFBE;
    color:#000;
    text-align:center;
    text-transform:uppercase;
    padding:0 25px;
    letter-spacing:1px;
    line-height:2;
    transform:skewX(30deg);
  }
  
 .navbar .logo .custom_logo span{
     transform:skewX(-30deg);
  } 
  
  .nav-scroll {
  background:#fff;
  box-shadow:0 1px 8px 3px rgba(0,0,0,0.05);
  transition:0.5s all;
  }
  
  .nav-scroll .navbar-nav li a{
  color:#333 !important;
   } 
   
 
   
   /* .header {
        padding: 1rem;
     a {
       color: rgb(46, 46, 46);
       letter-spacing: 2px;
       font-size: 1.2rem;
   
       &:hover {
         color: #000;
       }
     }
   
     button {
       border: none;
       font-size: 1.2rem;
       cursor: pointer;
       background-color: transparent;
       &:hover {
         color:  #000;
       }
     }
   
     dialog {
       border: 1px solid #ccc;
       border-radius: 5px;
       padding: 10px;
       width: 100px;
       position: absolute;
       left: calc(100% - 100px);
       top: 8%;
    
     }
   } */
 
   .SignInLogo,.SignOutLogo{
   color:#fff
 }
 
 
  /**section  title css*/
  .section_title {
   position:relative;
   margin-bottom:70px;
   width:100%;
   }
   
  .section_title p {
    background-color:#000;/**#1957f3;**/
    color:#fff;
    display:inline-block;
    margin-bottom:5px;
    text-align:center;
    text-transform:uppercase;
    padding:0 12px;
    letter-spacing:1px;
 }
 
 .section_title h3 {
  position:relative;
  font-size:36px;
  text-transform:capitalize;
  line-height:1.14;
  letter-spacing:1.4px;
  padding-bottom:13px;
  color:#fff;
 }
 
 /* .section_title h3:after {
  content:'';
  position:absolute;
  display:block;
  width:2px;
  height:30px;
  bottom:-30px;
  left:50%;
  background-color:#000;
  transform:translate(-50%,0);
 } */
  
  .banner{
  /* background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/bkgrnd.jpg); */
  /* background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(https://res.cloudinary.com/dcsdqiiwr/image/upload/v1715494333/login_img_yfqr6e.jpg); */
  /* background-image:url(https://res.cloudinary.com/dcsdqiiwr/image/upload/v1715494333/login_img_yfqr6e.jpg); */
  background-attachment:fixed;
  height:100vh;
  width:100%;
  }
  .home-banner{
    background-image:url(https://res.cloudinary.com/dcsdqiiwr/image/upload/v1715494333/login_img_yfqr6e.jpg) !important;
  }
  
  .admin-banner{
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(https://res.cloudinary.com/dcsdqiiwr/image/upload/v1715494333/login_img_yfqr6e.jpg) !important;
    
  }

  .banner .caption h4{
  color:#fff;
  font-size:20px; 
  font-weight:400;
  }
   
  .banner .caption h2{
  color:#fff;
  font-size:70px;
  letter-spacing:-1px;
  }
  
  .banner .caption p{
  color:#fff;
  font-size:17px;
  line-height:32px;
  opacity:0.7;
  }
  
  .banner .caption .social_icon a{
   color:#fff;
   height:40px;
   width:40px;
   line-height:40px;
   border-radius:50%;
   text-shadow:1px 1px 2px rgba(0,0,0,0.5);
   font-size:16px;
   transition:0.5s all;
   }
   
  .social_icon a
  {
  margin-top:150px;
  }
  
  .banner .caption .social_icon a:hover{
  color:#1957f3;
  }
  
  .button
  {
  position:absolute;
  top:60%;
  left:50%;
  transform:translate(-50%,-50%);
  }
  
  /* .btn
  {
  text-decoration:none; 
  color:#fff;
  padding:10px 30px;
  border:1px solid #fff;
  transition:0.6s ease;
  }
  
  .btn:hover
  {
   color:#000;
   background-color:#fff;
   box-shadow:inset 12em 0 0 0 #fff;
  } */
 
  .btns
  {
  background-color:#000;
  text-decoration:none; 
  color:#dba514 !important;
  padding:10px 30px;
  border:1px solid #dba514;
  transition:0.6s ease;
  }
  
  .btns:hover
  {
   /* box-shadow:inset 12em 0 0 0 #dba514; */
   text-decoration:none; 
   color:#000 !important;
   background-color:#dba514;
  }
  
  /** about section css **/
 .about .part_text h4{
   font-size:24px;
  }
  
 .about .part_text p{
   border-bottom: 1px solid #f1f1f1;
   color:#000;
  }
  
 .about .part_text .info li{
   width:48%;
   display:inline-block;
   margin-bottom:15px;
  }
  
 
  
  /**showContact section css**/
  .showContact {
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./assets/images/showcontact_img.jpg);
    background-attachment:fixed;
    height:50vh;
    width:100%;
   }
  
  .showContact h2{
  color:#fff;
   } 
   
  /**package section css**/
.package{
  background-image:url(./assets/images/showcontact_img.jpg);
  background-attachment:fixed;
  min-height: 100vh;
  width:100%;
}

  .package .package_box{
    background-color: #fff;
    border:1px solid #e0c40e;
    transition:all 0.5s;
    }
 
 .package .package_box:hover{
    box-shadow:-1px 3px 10px 0 rgba(0,0,0,0.06);
    }
       
  .package .box {
    position:relative;
    padding:50px;
   }
   
   .package .package_box icon i{
    color:#000;
    }
    
    .package .package_box p{
    color:#000;
    }
    
   .package .box_title{
    position:relative;
    margin-top:10px;
    padding-bottom:8px;
    font-size:16px;
    overflow:hidden;
    }
   
   .package .box_title:before{
   content:'';
   display:inline-block;
   width:15%;
   height:2px;
   position:absolute;
   bottom:0;
   left:0;
   background-color:rgba(91,52,255,0.2);
   }
    
   .package_box:after{
   content:'';
   width:0px;
   height:0px;
   border-left:50px solid transparent;
   border-top:50px solid transparent;
   border-bottom:50px solid #ccc;
   position:absolute;
   bottom:4px;
   right:4px;
   }
    
    
  /**Contact Section css**/
  .contact
  {
   /* background-image:url(./assets/images/contact.jpeg); */
   background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(./assets/images/contact.jpeg);
   /* url(https://img2.shaadi.com/assests/2023/images/shaadi-desktop-banner-v1.webp) */
   background-attachment:fixed;
  }
   
  .contact .section_title h3 {
    color:#fff;
  }
    
 .contact .part_info {
    background:linear-gradient(to right,transparent,rgba(200,200,200,0.1),transparent);
    padding:30px;
    margin-bottom:50px;
  }
  
 .contact .info-block{
  border-right:1px solid #fff;
  }
     
  .contact .part_info .info-block .icon {
   margin-bottom:15px;
  }
  
  .contact .part_info .info-block .icon i {
   display:inline-block;
   color:#fff;
   font-size:38px;
  }
  
  .contact .part_info .info-block h5,p{
   color:rgb(7, 7, 7);
   font-size:15px; 
   margin-bottom:10px;
   }
   
  .contact .part_info .info-block p{
   color:#fff;
   opacity:0.9;
   }
   
  .contact .part_info .col-md-4:last-child .info-block{
     border-right:0;
    }
    
 .contact .contact-form {
  background:linear-gradient(to right,transparent,rgba(200,200,200,0.1),transparent);
  padding:30px;
  }
  
  .contact .contact-form input,
  .contact .contact-form textarea{
    color:#fff;
    background:transparent;
    padding:10px 15px;
    border-radius:0;
    width:100%;
    border:1px solid rgba(0,0,0,0.28);
    margin-bottom:15px;
    font-size:12px;
    transition:0.3s all;
   }
   
  .contact .contact-form input::placeholder,
  .contact .contact-form textarea::placeholder{
    color:#fff;
  }
  
  .contact .contact-form input:focus,
  .contact .contact-form textarea:focus{
    border:1px solid #fff;
    outline:none;
    box-shadow:none;
  }
  
  .contact .contact-form textarea{
     height:120px;
  }
    
   /**foooter section css**/
  .footer{
     background:#212121;
     padding:80px 0;
  }
    
  .footer .logo{
      width:100%;
      margin-bottom:30px;
  }
     
 .footer .logo .custom_logo{
    background:#FAAFBE;
    color:#000;
    text-align:center;
    text-transform:uppercase;
    padding:0 25px;
    letter-spacing:1px;
    line-height:2;
    transform:skewX(30deg);
  }
  
 .footer .logo .custom_logo span{
     transform:skewX(-30deg);
  }
  
 .footer .social_icon{
   margin:0 auto;
   width:100%;
   }
   
  .footer .social_icon a{
    display:inline-block;
    width:40px;
    height:40px;
    margin:0;
    padding:0;
    line-height:40px;
    border-radius:50%;
    margin-right:10px;
    background:#252525;
    color:#fff;
    transition:0.5s all; 
   }
   
  .footer .social_icon a i{
     
    font-size:14px;
   }
   .footer .social_icon a:hover{
    color:#000;
    background:#fff;
    }
    
  .footer .copy{
    width:100%;
    padding-top:30px;
  }
  .footer .copy h6{
   color:#999;
 /*   alignment-adjust */
   font-size:14px;
   font-weight:400;
   letter-spacing:2px;
  }
 
  /*login css*/
  
  .login{
   background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./assets/images/bkgrnd.jpg);
   background-position:fixed;
   height:100vh;
   width:100%;
   background-size:cover;
   background-position:center;
  }
  .login  .form-container{
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   width:380px;
   padding:50px 30px;
   border-radius:10px;
   box-shadow:7px 7px 60px #000;
  }
  .login h1
  {
   color:#fff;
   font-size:2em;
   text-transform:uppercase; 
   text-align:center;
   margin-bottom:1em 0;
  }
  .login .control input
  {
   padding:5px;
   font-size:16px;
   display:block;
   width:100%;
   color:#222;
   background:#ddd;
   outline:none;
   border:none;
   margin:1em 0;
  }
  .login .control .buttons{
   color:#fff;
   background:crimson;
   opacity:.7;
   transition:opacity .3s ease;
  }
  .login .buttons:hover 
  {
   opacity:1;
  }
  .login .link p
  {
   text-align:center; 
  }
  .login label{
   color:#fff;
  }
  .login .link a
  {
   text-decoration:none; 
   color:#fff;
   opacity:.7;
  }
 .login .link a:hover
 {
  opacity:1;
 }
  
 .login .section_title{
  margin-bottom : 0 !important
 }
 
  /*signup form css*/
  
  .signup .search
  {
   background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./images/bkgrnd.jpg);
   background-attachment:fixed;
  }
  .contact .signup-form {
  background:linear-gradient(to right,transparent,rgba(0,0,0),transparent);
  padding:30px;
  }
  

  .contact .signup-form input,
  .contact .signup-form textarea{
    color:#000;
    background:#fff;
    padding:10px 15px;
    border-radius:8px;
    width:100%;
    border:1px solid rgba(0,0,0,0.28);
    margin-bottom:25px;
    font-size:14px;
    transition:0.3s all;
   }
   
  .contact .signup-form input::placeholder,
  .contact .signup-form textarea::placeholder{
    color:#000;
  }
  
  .contact .signup-form input:focus,
  .contact .signup-form textarea:focus{
    border:1px solid #fff;
    outline:none;
    box-shadow:none;
  }
  
  .contact .signup-form textarea{
   height:120px;
  }
 
 .contact .signup-form .gender-details{
   /*display:none;*/
   width:30px;
  } 
   
  .contact .signup-form .gender-row{
    margin-left:15px;
  }

 .signup-form .gender-title
 {
  color:#fff;
  font-size:14px;
 }
 
 .signup-form  .gender-label{
  color:#fff;
  font-size:14px;
  position:relative;
  }
  
 .signup-form .select-box {
    width:100%;
    position:relative;
    margin-bottom:12px;
  }
  
  .signup-form .select-box select{
    height:42px;
    padding:10px 15px;
    line-height:18px;
    font-size:14px;
    width:100%;
    margin-bottom:15px;
    border:1px solid #ccc; 
    border-radius:8px;
    -webkit-appearance:none;
    appearance:none;
   }
   
  .signup-form .select-box:after{ 
  content:"";
  position:absolute;
  right:20px;
  top:50%;
  margin-top:-4px;
  border-top:8px solid #ccc;
  border-left:6px solid transparent;
  border-right:6px solid transparent;
  pointer-events:none;
 }
 
 .signup-form .select-box select:focus{
   border:1px solid #000;  
 }
 .search{
 height:100vh;
  }
  
  .personal .part_info .info-block{
   border:none;
  }
 
  /*member profile css*/
  .profile-about-img{
   flex:0 0 60%;
   padding:0 15px;
  }
 
  
 
  .profile-about-info{
   /*background-color:rgb(85, 83, 83);*/
   flex:0 0 40%;
   padding:0 15px;
 }
  .profile-about-info p{
   color: #000;
   font-size:16px;
   line-height:26px;
   margin-bottom:15px;
   color:var(--text-black-600);
  }
 
  .profile-about-img .social_icon_tab{
    margin-left: 150px;
  }
 
  .profile-about-img .social_icon a{
   display:inline-block;
   width:40px;
   height:40px;
   line-height:40px;
   border-radius:50%;
   margin-right:10px;
   background:#252525;
   color:#fff;
   transition:0.5s all; 
  }
  
 .profile-about-img .social_icon a i{
   padding-left: 12px;
   font-size:14px;
  }
  .profile-about-img .social_icon a:hover{
   color:#000;
   background:#fff;
   }
 
   
 .profile-details-tabs {
   
   max-width: 100%;
   flex:0 0 100%;
   padding: 60px 15px 25px;
   text-align:center;
 }
   
 .tab-items{
   display:inline-block;
   margin:0 115px 10px;
   cursor:pointer;
   padding:5px 10px;
   border-radius: 30px;
   transition: all 0.3s ease;
   font-size: 20px;
   color:var(--text-black-600);
   font-weight: 500;
   text-transform: capitalize;
 }
 
 .tab-items:hover{
   opacity:0.6;
 }
 
 .tab-items.active{
   color:var(--skin-color);
 }
 
 .tab-content{
   flex:0 0 100%;
   max-width:100%;
   display: none;
 }
 
 .tab-content.active{
   display: block;
 }

 .text-medium{
  color:#dadac5
 }

 .text-link{
  color: inherit;
  text-decoration: inherit;
  color:#1957f3;
 }

 .errorMsg{
  color: #f30505;
 }

 .rounded-image-container {
  align-items: center;
  width: 225px; 
  height: 225px;
  overflow: hidden; 
  border-radius: 50%; 
  margin: 20px auto; 
}

.rounded-image {
  width: 100%;
  height: 100%;
  display: block; 
  /* background-image:url(./assets/images/icon_m.jpg);; */
}

.card-subbackground{
  background-color: #f8f9fa;
}

.header {
  height: 60px; /* Adjust the height as needed */
  background-color: #333; /* Example background color */
  color: #fff; /* Example text color */
}

.footer {
  height: 60px; /* Adjust the height as needed */
  background-color: #333; /* Example background color */
  color: #fff; /* Example text color */
}

.content {
  min-height: calc(100vh - 120px); /* Adjust the height considering header and footer heights */
  padding: 20px; /* Example padding */
}

.remove-link {
  text-decoration : none;
}

.stylish-textbox {
  border: 2px solid #17a2b8;
  border-radius: 8px;
  padding: 10px;
  color: #495057;
  background-color: #f8f9fa;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.stylish-textbox:focus {
  border-color: #0a768f;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(38, 143, 255, 0.25);
}

.custom-carousel .carousel-inner {
  height: 25%; 
}

.custom-carousel .carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

 /*  
 .contact .signup-form .gender-details{
   position: absolute;
   opacity: 0;
   cursor: pointer;
 }
 
 .checkmark {
   position: absolute;
   top: 7px;
   left: 0;
   height: 12px;
   width: 12px;
   background-color: #eee;
   border-radius: 50%;
 }
 
  .checkmark:hover {
   background-color: #ccc;
 }
 .contact .signup-form input:checked ~ .checkmark {
   background-color: #2196F3;
 } */
 
 /* 
 .signup-form .gender-label::before{
  content:'';
  border:2px solid #fff;
  display:inline-block;
  width:10px;
  height:10px;
  border-radius:50%;
  margin-right:10px;
  }
  
 .signup-form .gender-label::after{
  content:'';
  display:inline-block;
  position:absolute;
  width:4px;
  height:4px;
  background:rgba(34, 34, 34,0);
  border-radius:50%;
  left:3px;
  top:10px;
  opacity:0; 
  transition: all 0.4s;
 }
 
 input[type="radio"]:checked + label::after{
   background:rgba(34, 34, 34,1);
 }
    */
  
  
  /*search result *
  
  .full-screen
  {
   background-color:red;
  
   float:left;
   } 
   
  .search-result-text .search-result-img {
    flex:0 0 50%;
    max-width:50%;
    padding:0 15px;
   }
   
   .search-result-text {
    background-color:violet;
    
    }
   /*  
   .search-result-img {
     background-color:blue;
     margin-left:40%;
     background-image: url(./images/contact_img.jpg);
     height:50vh;
     background-repeat:no-repeat;
     border-radius:50%;
     width:50%;
     } 
     .search-result-img img{
      width:100%
     }*/
 
     /*search result css*/
     .part_text li{
       list-style: none;
      }

      .modal-close { 
        position: absolute;
        top: 0;
        right: 0;
        padding: 3px;
        background: none;
        border: none;
        cursor: pointer;
        margin-right: 29px;
      }

      .modal-overlay {
        background-color: rgba(0, 0, 0, 0.5);
      }
      
      .modal-summary {
        width: 50%;
        height: 75%;
        top: 50%;
        left: 28%;
        background-color: #ffffff;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        border: 1px solid #ccc;
      }
      .payment-success-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f0f0f0;
      }
      
      .payment-success-card {
        max-width: 400px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        overflow: hidden;
      }
      
      .payment-success-header {
        background-color: #5cdb95;
        color: #fff;
        padding: 20px;
      }
      
      .payment-success-title {
        font-size: 24px;
        margin: 0;
      }
      
      .payment-success-content {
        padding: 20px;
      }
      
      .payment-success-content p {
        margin-bottom: 10px;
      }
      
      .profile-width{
        width:75%;
      }

      .profile-button{
        width:221px;
        margin-left:15%;
      }

      .gradient-custom-2 {
          /* fallback for old browsers */
          background: #000;
      
      
        /* fallback for old browsers */
        /* background: #fccb90; */
      
        /* Chrome 10-25, Safari 5.1-6 */
        /* background: -webkit-linear-gradient(to right, #b78628, #c69320, #dba514, #fcc201); */
      
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        /* background: linear-gradient(to right, #b78628, #c69320, #dba514, #fcc201); */
      }
      
      .preference-form-section {
        background: linear-gradient(to right, #f8f9fa, #e9ecef); /* Adjust the gradient colors as needed */
        padding: 50px 0;
      }
      
      .preference-form {
        background-color: rgba(255, 255, 255, 0.9); /* Transparent background */
        padding: 20px;
        border-radius: 10px;
      }
      
      .preference-form input[type="text"],
      .preference-form select {
        border: none;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
      }
      
      .preference-form button {
        border-radius: 5px;
        padding: 10px 20px;
      }
      

      .notification-wrapper {
        position: relative;
        display: inline-block;
      }
      
      .fa-bell {
        font-size: 20px; 
      }
      
      .notification-badge {
        position: absolute;
        top: -5px; 
        right: -2px;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 2px 6px;
        font-size: 12px;
        display: inline-block;
      }

      .notification-dropdown {
        position: absolute;
        top: 30px; /* Adjust based on icon size */
        right: 0;
        background-color: white;
        border: 1px solid #ccc;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        width: 200px; /* Adjust as needed */
        z-index: 1000;
      }

      .notification-dropdown ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      .notification-dropdown li {
        padding: 10px;
        border-bottom: 1px solid #eee;
      }

      .notification-dropdown li:last-child {
        border-bottom: none;
      }

      .notification-dropdown li:hover {
        background-color: #f5f5f5;
      }
      
      
      /* Admin css */
      /* @import url('https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&display=swap'); */

      :root{
          --dark:#2b2d42;
          --light:#adb5bd;
          --border:#dee2e6;
          --border-btn:#edf2f4;
      }
      
      *{
          padding:0;
          margin:0;
          box-sizing:border-box;
      }
      
     
      .container{
          max-width:1024px;
          margin:auto;
      }
      
      .nav-brand{
          font-size:1.5em;
          font-weight:bold;
      }
      
      .d-flex{
          display:flex;
          flex-wrap:wrap;
      }
      
      .justify-between{
          justify-content:space-between;
      }
      
      .text-center{
          text-align:center;
      }
      
      .border-shadow{
          border:1px solid var(--border-btn);
          box-shadow:1px 3px 10px #e9ecef;
      }
      
      .text-dark{
          color:var(--dark);
      }
      
      .inline{
          display:inline-block;
      }
      
      .text-light{
          color:var(--light);
      }
      
      .text-gradient{
          background:linear-gradient(to right,#8e2de2, #4a00e0);
          -webkit-background-clip:text;
          background-clip:text;
          -webkit-text-fill-color:transparent;
      }
      
      #header nav{
          background-color:rgba(168, 122, 32, 1);
          padding:1em 0;
          width:100%;
      }
      
      #site-main{
          margin-top:6em;
          font-family:'Barlow',sans-serif;
      }
      
      #site-main .container .box-nav > a{
          font-size:1em;
          padding:.5em 1em;
      }
      
      #site-main .container form{
          margin:2em 0;
      }
      
      .table{
          border-spacing:0px;
          width:100%;
      }
      
      .table td, .table th{
          padding:.75em;
          vertical-align:top;
          text-align:center;
          border-top:1px solid var(--border);
      }
      
      .table td > .action-btn{
          padding:.3em 1em;
          font-size:1.1em;
          margin:0.2em;
      }
      
      .table tr:hover{
          background-color: rgba(168, 122, 32, 1);
      }
      
      .table tr:hover td > a{
          box-shadow:none;
      }
      
      .table .thead-dark th{
          color:#fff;
          background-color:var(--dark);
          border-color:#32383e;
      }
      .add-button-container {
        text-align: left;
        margin-bottom: 20px; 
    }

    
      /* addUser  & updateUser Template*/
      
      .form-title{
          margin-top:2em;
      }
      
      .form-title > h2{
          padding:.5em 0;
      }
      
      .new_user{
          max-width:786px;
          margin:auto;
      }
      
      #update_user .form-group,
      #add_user .form-group {
          margin:.4em 0;
      }
      
      #update_user .form-group input[type="text"],
      #add_user .form-group input[type="text"]{
          width:100%;
          padding:.6em 1em;
          margin:.5em 0;
          border:1px solid var(--border);
          font-family: 'Barlow', sans-serif;
          font-size:1em;
          border-radius:.2em;
      }
      
      #update_user .form-group .radio,
      #add_user .form-group .radio{
          margin:1em 2em;
      }
      
      .radio input[type="radio"]{
          position:absolute;
          opacity:0;
      }
      
      .radio input[type="radio"]+.radio-label:before{
          content:'';
          background:var(--border-btn);
          border-radius:100%;
          border:3px solid var(--border);
          display:inline-block;
          width:1em;
          height:1em;
          position:relative;
          top:-0em;
          margin-right:.5em;
          vertical-align: top;
          cursor:pointer;
          text-align:center;
          -webkit-transition:all 250ms ease;
          transition:all 250ms ease;
      }
      
      .radio input[type='radio']:checked+ .radio-label:before{
          background-color:rgba(168, 122, 32, 1);
          box-shadow:insert 0 0 0 4px #e9ecef;
      }
      
      .radio input[type='radio'].focus+.radio-label:before{
          outline:none;
          border-color:#16db93
      }
      
      .radio input[type='radio']:disabled+.radio-label:before{
          border: color #b4b4b4;;
          box-shadow:insert 0 0 0 4px #e9ecef;
          background:#b4b4b4;
      }
      
      #update_user .form-group .btn,
      #add_user .form-group .btn{
          width:100%;
          padding:.9em 1em;
          background-color:rgba(168, 122, 32, 1);
          border:none;
          font-family:'PT Sans', sans-serif;
          font-size:1em;
          cursor:pointer;
          border-radius:.2em;
          margin:.5em 0;
      }
      
      #update_user .form-group .btn:hover,
      #add_user .form-group .btn:hover{
          background-color: var(--dark);
          color:var(--border);
      }
      
      
      .text-margin {
        margin-bottom: 75px;
      }

      .forgot-password-button {
        border: none;
        background-color: #fff;
      }
      
      .forgot-password-margin, .change-password-margin {
        margin-top: 14%;
      }

      .card-mid{
       height:50%;
      }

      /* Pagination styles */
  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }

  .pagination li {
    margin: 0 5px;
  }

  .pagination a {
    display: block;
    padding: 10px 15px;
    background-color :#000;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #dba514;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }

  .pagination a:hover {
    background-color: #dba514;
    color: #000;
  }

  .pagination .active a {
    background-color: #dba514;
    color: #000 !important;
    border-color: #dba514;
    border: 1px solid #ddd;
  }

  #home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.table-responsive {
    flex: 1;
}
.table th, .table td {
  vertical-align: middle;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #ffffff;
    border: 1px solid #eef0f3;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 85px;
  display: flex;
  overflow-x: hidden;
  z-index: 999;
  flex-direction: column;
  background: #161a2d;
  padding: 25px 20px;
  transition: all 0.4s ease;
}

.sidebar:hover {
  width: 260px;
}

.sidebar .sidebar-header {
  display: flex;
  align-items: center;
}

.sidebar .sidebar-header img {
  width: 42px;
  border-radius: 50%;
}

.sidebar .sidebar-header h2 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
  margin-left: 23px;
}

.sidebar-links h4 {
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  margin: 10px 0;
  position: relative;
}

.sidebar-links h4 span {
  opacity: 0;
}

.sidebar:hover .sidebar-links h4 span {
  opacity: 1;
}

.sidebar-links .menu-separator {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  transform: scaleX(1);
  transform: translateY(-50%);
  background: #4f52ba;
  transform-origin: right;
  transition-delay: 0.2s;
}

.sidebar:hover .sidebar-links .menu-separator {
  transition-delay: 0s;
  transform: scaleX(0);
}

.sidebar-links {
  list-style: none;
  margin-top: 20px;
  height: 80%;
  overflow-y: auto;
  scrollbar-width: none;
}

.sidebar-links::-webkit-scrollbar {
  display: none;
}

.sidebar-links li a {
  display: flex;
  align-items: center;
  gap: 0 20px;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  padding: 15px 10px;
  text-decoration: none;
  transition: 0.2s ease;
}

.sidebar-links li a:hover {
  color: #161a2d;
  background: #fff;
  border-radius: 4px;
}


.user-account {
  margin-top: auto;
  padding: 12px 10px;
  margin-left: -10px;
}

.user-profile {
  display: flex;
  align-items: center;
  color: #161a2d;
}

.user-profile img {
  width: 42px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.user-profile h3 {
  font-size: 1rem;
  font-weight: 600;
}

.user-profile span {
  font-size: 0.775rem;
  font-weight: 600;
}

.user-detail {
  margin-left: 23px;
  white-space: nowrap;
}

.sidebar:hover .user-account {
  background: #fff;
  border-radius: 4px;
}


.chat-sidebar {
  width: 30%;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.chat-main {
  width: 70%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.chat-list {
  padding: 10px;
}

.chat-list div {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.chat-list div:hover {
  background-color: #f5f5f5;
}

.chat-window {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.sent {
  text-align: right;
  background-color: #dcf8c6;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.received {
  text-align: left;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.message-input {
  display: flex;
}

.message-input input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.message-input button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Messenger css */
/* .messenger {
  height: calc(100vh - 70px);
  display: flex;
}

.chatMenu {
  flex: 2.5;
} */
.messenger {
  height: calc(100vh - 70px); /* Adjust the height according to your header */
  display: flex;
  flex-direction: column;
}

.chatContainer {
  display: flex;
  height: 100%;
  position: relative; /* For pseudo-element positioning */
}

.chatMenu {
  flex: 1;
  overflow-y: auto;
  position: relative;
}

.chatMenu::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #ccc; /* Vertical line */
}

.chatBox {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.chatMenuInput {
  width: 90%;
  padding:  10px;
  border: none;
  border-bottom: 1px solid gray;
}
/* 
.chatBox {
  flex: 5.5;
} */

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.chatMessageInput {
  width: 80%;
  height: 90px;
  padding: 10px;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  background-color:#000;
  text-decoration:none; 
  color:#dba514 !important;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chatOnline {
  flex: 3;
}

.chatBoxHeader{
  text-transform: capitalize;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 100%;
}

.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 20px;
  color: rgb(224, 220, 220);
  cursor: default;
}

/* Conversation css */

.conversation {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.conversation:hover {
  background-color: rgb(245, 243, 243);
}

.conversationImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.conversationName {
  font-weight: 500;
}

/* message css */

.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.messageTop{
    display: flex;
}

.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.messageText{
    padding: 10px;
    border-radius: 20px;
    background-color: #1877f2;
    color: white;
    max-width: 300px;
}

.messageBottom{
    font-size: 12px;
    margin-top: 10px;
}

.message.own{
    align-items: flex-end;
}

.message.own .messageText{
    background-color: rgb(245, 241, 241);
    color: black;
}

.unreadHeader, .dateSeparator{
    background-color: rgb(233, 229, 229);
    color:#000;
    text-align:center;
    padding:5px;
    border-radius:5px;
}
.middleText
{
    background-color: rgb(250, 249, 249);
    color:#0e0e0e;
    text-align:center;
    padding:5px;
    border-radius:5px;
}
.unreadBadge {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

/* Report Abuse Modal styles */
.report-abuse-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.report-abuse-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.report-abuse-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.report-abuse-close:hover,
.report-abuse-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.report-abuse-modal h2 {
  margin-top: 0;
}

.report-abuse-modal textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}
/* MyPlan */
.my-plan-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  margin-top : 10%;
  background-color: #f4f4f9;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.my-plan {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.plan-info, .subscription-info {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.plan-info h2, .subscription-info h3 {
  margin-top: 0;
}

.plan-details p, .subscription-info p {
  margin: 5px 0;
  font-size: 14px;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
 
strong {
  font-weight: bold;
}

.loading, .error {
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
}

.custom-button:first-child {
  margin-left: 10px; 
}
/* 
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

 .remote-video {
  width: 50%;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

 .local-video {
  width: 30%;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
} */

.video-container {
  position: relative;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 20px;
}

.video-chat-button-container{
  width:100%;
  display: flex;
  justify-content: center;
}

.remote-video {
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.local-video {
  position: absolute;
  width: 15%;
  top:5%;
  left:27%;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.transparent-btns{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.transparent-btns i {
  font-size:15px;
}

.transparent-btns:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.end-call-btn {
  background-color: red;
  color: white;
}

.end-call-btn:hover {
  background-color: darkred;
  color: white;
}

.button-container{
  justify-content: center;
}

.custom-button:last-child{
  margin-top:5px;
}

.video-call-modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-call-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
}

/* .video-call-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.video-call-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
} */
.link-input{
  padding:5px;
  margin :2%;
}

.remote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-group-flush {
  border-radius: 0;
}
.list-group-flush > .list-group-item {
  border-width: 0 0 1px;
}
.list-group-flush > .list-group-item:last-child {
  border-bottom-width: 0;
}

.list-group-item-primary {
  color: #0e3685;
  background-color: #bfd5ff;
}
.list-group-item-primary.list-group-item-action:hover,
.list-group-item-primary.list-group-item-action:focus {
  color: #0e3685;
  background-color: #a6c4ff;
}
.list-group-item-primary.list-group-item-action.active {
  color: #ffffff;
  background-color: #0e3685;
  border-color: #0e3685;
}

.list-group-item-secondary {
  color: #0a395d;
  background-color: #bdd6ea;
}
.list-group-item-secondary.list-group-item-action:hover,
.list-group-item-secondary.list-group-item-action:focus {
  color: #0a395d;
  background-color: #aacae4;
}
.list-group-item-secondary.list-group-item-action.active {
  color: #ffffff;
  background-color: #0a395d;
  border-color: #0a395d;
}

.list-group-item-success {
  color: #107259;
  background-color: #c0f5e8;
}
.list-group-item-success.list-group-item-action:hover,
.list-group-item-success.list-group-item-action:focus {
  color: #107259;
  background-color: #aaf2e0;
}
.list-group-item-success.list-group-item-action.active {
  color: #ffffff;
  background-color: #107259;
  border-color: #107259;
}

.list-group-item-info {
  color: #005d83;
  background-color: #b8eafe;
}
.list-group-item-info.list-group-item-action:hover,
.list-group-item-info.list-group-item-action:focus {
  color: #005d83;
  background-color: #9fe3fe;
}
.list-group-item-info.list-group-item-action.active {
  color: #ffffff;
  background-color: #005d83;
  border-color: #005d83;
}

.list-group-item-warning {
  color: #855701;
  background-color: #ffe7b8;
}
.list-group-item-warning.list-group-item-action:hover,
.list-group-item-warning.list-group-item-action:focus {
  color: #855701;
  background-color: #ffde9f;
}
.list-group-item-warning.list-group-item-action.active {
  color: #ffffff;
  background-color: #855701;
  border-color: #855701;
}

.list-group-item-danger {
  color: #721c24;
  background-color: #f5c6cb;
}
.list-group-item-danger.list-group-item-action:hover,
.list-group-item-danger.list-group-item-action:focus {
  color: #721c24;
  background-color: #f1b0b7;
}
.list-group-item-danger.list-group-item-action.active {
  color: #ffffff;
  background-color: #721c24;
  border-color: #721c24;
}

.list-group-item-light {
  color: #7f8081;
  background-color: #fcfcfd;
}
.list-group-item-light.list-group-item-action:hover,
.list-group-item-light.list-group-item-action:focus {
  color: #7f8081;
  background-color: #ededf3;
}
.list-group-item-light.list-group-item-action.active {
  color: #ffffff;
  background-color: #7f8081;
  border-color: #7f8081;
}

.list-group-item-dark {
  color: #17191c;
  background-color: #c4c5c6;
}
.list-group-item-dark.list-group-item-action:hover,
.list-group-item-dark.list-group-item-action:focus {
  color: #17191c;
  background-color: #b7b8b9;
}
.list-group-item-dark.list-group-item-action.active {
  color: #ffffff;
  background-color: #17191c;
  border-color: #17191c;
}

@media only screen and(max-width:1024px){
  table,thead,tbody,th,tr,td{
      display:block;
  }
  thead tr{
      position:absolute;
      top:-9999px;
      left:-9999px;
  }
  tr{
      border:1px solid var(--border);
  }

  td{
      border:none;
      border-bottom:1px solid var(--border);
      position:relative;
  }
}


@media (min-width: 768px) {
  .my-plan {
    flex-direction: row;
    justify-content: space-between;
  }

  .plan-info, .subscription-info {
    width: 48%;
  }
}



/* .report-abuse-modal button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.report-abuse-modal button:hover {
  background-color: #0056b3;
} */
.report-abuse-modal-footer{
  display: flex; 
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .conversationName {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .chatMenu {
    flex: 1;
  }

  .chatMenuInput {
    display: none;
  }

  .chatBox{
    flex: 10;
  }

  .chatOnline{
    flex: 1px;
  }
}

@media (min-width: 576px) {
    .list-group-horizontal-sm {
        flex-direction: row;
    }
    .list-group-horizontal-sm > .list-group-item:first-child {
        border-bottom-left-radius: 0.25rem;
        border-top-right-radius: 0;
    }
    .list-group-horizontal-sm > .list-group-item:last-child {
        border-top-right-radius: 0.25rem;
        border-bottom-left-radius: 0;
    }
    .list-group-horizontal-sm > .list-group-item.active {
        margin-top: 0;
    }
    .list-group-horizontal-sm > .list-group-item + .list-group-item {
        border-top-width: 1px;
        border-left-width: 0;
    }
    .list-group-horizontal-sm > .list-group-item + .list-group-item.active {
        margin-left: -1px;
        border-left-width: 1px;
    }
}

@media (min-width: 768px) {
    .list-group-horizontal-md {
        flex-direction: row;
    }
    .list-group-horizontal-md > .list-group-item:first-child {
        border-bottom-left-radius: 0.25rem;
        border-top-right-radius: 0;
    }
    .list-group-horizontal-md > .list-group-item:last-child {
        border-top-right-radius: 0.25rem;
        border-bottom-left-radius: 0;
    }
    .list-group-horizontal-md > .list-group-item.active {
        margin-top: 0;
    }
    .list-group-horizontal-md > .list-group-item + .list-group-item {
        border-top-width: 1px;
        border-left-width: 0;
    }
    .list-group-horizontal-md > .list-group-item + .list-group-item.active {
        margin-left: -1px;
        border-left-width: 1px;
    }
}

@media (min-width: 992px) {
    .list-group-horizontal-lg {
        flex-direction: row;
    }
    .list-group-horizontal-lg > .list-group-item:first-child {
        border-bottom-left-radius: 0.25rem;
        border-top-right-radius: 0;
    }
    .list-group-horizontal-lg > .list-group-item:last-child {
        border-top-right-radius: 0.25rem;
        border-bottom-left-radius: 0;
    }
    .list-group-horizontal-lg > .list-group-item.active {
        margin-top: 0;
    }
    .list-group-horizontal-lg > .list-group-item + .list-group-item {
        border-top-width: 1px;
        border-left-width: 0;
    }
    .list-group-horizontal-lg > .list-group-item + .list-group-item.active {
        margin-left: -1px;
        border-left-width: 1px;
    }
}

@media (min-width: 1200px) {
    .list-group-horizontal-xl {
        flex-direction: row;
    }
    .list-group-horizontal-xl > .list-group-item:first-child {
        border-bottom-left-radius: 0.25rem;
        border-top-right-radius: 0;
    }
    .list-group-horizontal-xl > .list-group-item:last-child {
        border-top-right-radius: 0.25rem;
        border-bottom-left-radius: 0;
    }
    .list-group-horizontal-xl > .list-group-item.active {
        margin-top: 0;
    }
    .list-group-horizontal-xl > .list-group-item + .list-group-item {
        border-top-width: 1px;
        border-left-width: 0;
    }
    .list-group-horizontal-xl > .list-group-item + .list-group-item.active {
        margin-left: -1px;
        border-left-width: 1px;
    }
}


 @media only screen and (max-width:991px){
 
   .navbar .container{
     max-width:100%;
   }
   
   .navbar .custom_logo{
     margin-left:20px;
     padding: 0 10px;
     font-size:16px;    
    }
    
    .nav-scroll .navbar-toggler span{
      color:#333;
     }
   
    .navbar .navbar-collapse {
      overflow:hidden;
      background:#111;
      color:#fff !important;
      text-align:center;
      padding:10px 0;
      margin:10px 0;
     } 
     .nav-scroll .navbar-collapse {
       background-color:#fff !important;
      }
  }  
  
 
  
  @media only screen and (max-width:767px){
    .banner .caption h4{
     font-size:16px;
     }
     
     .banner .caption h2{
     font-size:35px;
     }
     
     .showContact h2{
       font-size:30px;
     }
     .about .part_text .info li{
        width:100%;
     }      
     .part_text{
       padding-bottom:100px;
     }
     .contact .part_info .info-block{
      border:none;
     }
     .xs-md-30 {
       margin-bottom:30px;
     }
     .search{
     height:100%;
     }
  }

        
  @media screen and (max-width: 600px) {
    .payment-success-title {
      font-size: 1.5rem;
    }
  
    .payment-success-content {
      max-width: 90%;
    }
  }

  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }

  @media screen and (max-width: 1200px) {
    .profile-button {
      width: 180px;
      margin-left: 24%;
    }
  }
  
  @media screen and (max-width: 992px) {
    .profile-button {
      width: 160px;
      margin-left: 2%;
      margin-top: 40px; 
    }
  }
  
  @media screen and (max-width: 768px) {
    .profile-button {
      /* width: 140px; */
      margin-left:26%;
      margin-top: 40px; 
    }
  }
  
  @media screen and (max-width: 576px) {
    .profile-button {
      /* width: 120px; */
      margin-left: 18%;
      margin-top: 40px; 
    }
  }
  
  @media screen and (max-width: 400px) {
    .profile-button {
      /* width: 75%; */
      margin-left: 12%;
      margin-top: 30px; 
    }
  }
  
  @media screen and (max-width: 320px) {
    .profile-button {
      /* width: 80%; */
      margin-left: 10%;
      margin-top: 20px;
    }
  }
  
@media (max-width: 575.98px) {
  #home-title {
    margin-top: 0;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #home-title {
    margin-top: 5%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #home-title {
    margin-top: 10%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #home-title {
    margin-top: 15%;
  }
}

@media (min-width: 1200px) {
  #home-title {
    margin-top: 30%;
  }
}

@media (max-width: 992px) {
 .custom-button:last-child {
    margin-top: 0;
  }
}

@media (min-width:1078px)  and (max-width:1199px){
 .custom-button:last-child {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .navbar-nav {
    text-align: center;
  }
  .nav-item {
    margin-bottom: 10px;
  }
  .navbar-nav.ml-auto {
    margin-left: 0;
  }
  .notification-dropdown {
    position: absolute;
    right: 10px;
    top: 50px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
}

